.post-btns{
    position: fixed;
    z-index: 1;
    top: 30%;
    box-shadow: 1px 1px 1px #00000047;
    text-align: center;
    padding: .5rem;
    /* border: 1px solid gray; */
    font-size: 26px;
    border-radius: 0 12px 12px 0;
    border-left: 0;
}

.post-btns > div > ion-icon{
    // display: none;
}
.post-btns > div > ion-icon:hover{
    color: $primary;
    cursor: pointer;
}