@import url("https://fonts.googleapis.com/css?family=Lora:400,400i");
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i");
#mainNav {
  min-height: 56px;
  background-color: #000000;
  text-transform: uppercase;
  transition: ease-in-out 200ms;
  border-bottom: white 2px solid; }
  #mainNav .nav-container {
    max-width: 2000px; }
  #mainNav .navbar-toggler {
    font-size: 80%;
    padding: 0.75rem;
    color: #88a4ac;
    border: 1px solid #88a4ac; }
    #mainNav .navbar-toggler:focus {
      outline: none; }
  #mainNav .navbar-brand {
    color: #f8f9fa;
    font-weight: 700;
    padding: 0.9rem 0; }
  #mainNav .navbar-nav .nav-item:hover {
    color: fade(gray-100, 80%);
    outline: none;
    background-color: transparent; }
  #mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
    outline: none;
    background-color: transparent; }
  @media (min-width: 992px) {
    #mainNav {
      padding-top: 0;
      padding-bottom: 0;
      border-bottom: none;
      background-color: transparent;
      transition: background-color 0.3s ease-in-out; }
      #mainNav .navbar-brand {
        padding: 0.5rem 0;
        color: rgba(248, 249, 250, 0.5); }
      #mainNav .nav-link {
        transition: none;
        padding: 2rem 1.5rem;
        color: rgba(248, 249, 250, 0.5); }
        #mainNav .nav-link:hover {
          color: rgba(248, 249, 250, 0.75); }
        #mainNav .nav-link:active {
          color: gray-100; }
      #mainNav.navbar-shrink {
        background-color: #000000;
        border-bottom: #f8f9fa solid 1px; }
        #mainNav.navbar-shrink .navbar-brand {
          color: #f8f9fa; }
        #mainNav.navbar-shrink .nav-link {
          color: #f8f9fa;
          padding: 1.5rem 1.5rem 1.25rem;
          border-bottom: 0.25rem solid transparent; }
          #mainNav.navbar-shrink .nav-link:hover {
            color: #88a4ac; }
          #mainNav.navbar-shrink .nav-link:active {
            color: #5f7f88; }
          #mainNav.navbar-shrink .nav-link.active {
            color: #88a4ac;
            outline: none;
            border-bottom: 0.25rem solid #88a4ac; } }

.navbar-light .navbar-nav .nav-link {
  color: #f8f9fa;
  text-align: center; }

.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  z-index: 2; }
  .masthead h1 {
    font-family: 'Lato', sans-serif;
    font-size: 8vw;
    line-height: 2.5rem;
    letter-spacing: 0.8rem;
    background: -webkit-linear-gradient(rgba(248, 249, 250, 0.9), rgba(248, 249, 250, 0.5));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; }
  .masthead #not-found {
    -webkit-text-fill-color: black !important; }
  .masthead h2 {
    max-width: 20rem;
    font-size: 1rem; }
  .masthead p {
    font-family: 'Lato', sans-serif;
    color: #f8f9fa;
    font-size: 18px;
    text-transform: uppercase; }
  .masthead img {
    width: 33vw; }
  @media (min-width: 768px) {
    .masthead h1 {
      font-size: 4rem;
      line-height: 4rem; } }
  @media (min-width: 992px) {
    .masthead {
      height: 100vh;
      padding: 0; }
      .masthead h1 {
        font-size: 4rem;
        line-height: 6.5rem;
        letter-spacing: 0.8rem; }
      .masthead h2 {
        max-width: 30rem;
        font-size: 1.25rem; } }

.btn {
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  font-family: 'Lato', sans-serif;
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border: 0; }

.btn-primary {
  background-color: #88a4ac; }
  .btn-primary:hover {
    background-color: #6a8d97; }
  .btn-primary:focus {
    background-color: #6a8d97;
    color: white; }
  .btn-primary:active {
    background-color: #5f7f88 !important; }

.btn-primary.disabled, .btn-primary:disabled {
  color: black;
  background-color: #f8f9fa;
  border-color: #f8f9fa; }

.about-section {
  padding-top: 5rem;
  background: linear-gradient(to bottom, #000000 0%, black 75%, rgba(0, 0, 0, 0.82) 100%); }
  .about-section p {
    margin-bottom: 1rem; }

.projects-section {
  padding: 5rem 0; }
  .projects-section .featured-text-right {
    padding: 2rem; }
    @media (min-width: 992px) {
      .projects-section .featured-text-right {
        padding: 0 0 0 2rem;
        border-right: 0.5rem solid #88a4ac; } }
  .projects-section .featured-text-left {
    padding: 2rem; }
    @media (min-width: 992px) {
      .projects-section .featured-text-left {
        padding: 0 0 0 2rem;
        border-left: 0.5rem solid #88a4ac; } }
  .projects-section .project-text {
    padding: 3rem;
    font-size: 90%; }
    @media (min-width: 992px) {
      .projects-section .project-text {
        padding: 5rem; }
        .projects-section .project-text hr {
          border-color: #88a4ac;
          border-width: 0.25rem;
          width: 30%; } }

.subscribe-section {
  padding: 10rem 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.6) 75%, #000000 100%), url("https://images.unsplash.com/photo-1509599589979-3b5a15d2816e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6f9e2d7219ab8be2458821610d60531e&auto=format&fit=crop&w=1950&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover; }
  .subscribe-section .form-inline input {
    box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
    padding: 1.25rem 2rem;
    height: auto;
    font-family: 'Lato', sans-serif;
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    border: 0; }

.newsletter-header {
  font-size: 4vw;
  text-align: center; }

.contact-section {
  padding: 5rem 0 0; }
  .contact-section .card {
    border: 0;
    border-bottom: 0.25rem solid #88a4ac; }
    .contact-section .card h4 {
      font-size: 0.8rem;
      font-family: 'Lato', sans-serif;
      text-transform: uppercase;
      letter-spacing: 0.15rem; }
    .contact-section .card hr {
      border-color: #88a4ac;
      border-width: 0.25rem;
      width: 3rem; }
  .contact-section .social {
    margin-top: 5rem; }
    .contact-section .social a {
      text-align: center;
      height: 3rem;
      width: 3rem;
      background: rgba(248, 249, 250, 0.1);
      border-radius: 100%;
      line-height: 3rem;
      color: rgba(248, 249, 250, 0.3); }
      .contact-section .social a:hover {
        color: rgba(248, 249, 250, 0.5); }
      .contact-section .social a:active {
        color: #f8f9fa; }

.card {
  border-radius: 1px; }
  .card a {
    color: black; }
  .card a:hover {
    color: black; }
  .card .card-img-top {
    border-radius: 1px; }
  .card .card-body {
    padding: 0.6rem !important; }

.card:hover {
  border: 1px #88a4ac solid; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background: #f8f9fa;
  min-width: 320px; }

p {
  font-size: 18px; }

a {
  color: #88a4ac; }
  a:focus, a:hover {
    text-decoration: none;
    color: #557179; }

*::selection {
  background: #eae2d7;
  /* WebKit/Blink Browsers */ }

*::-moz-selection {
  background: #eae2d7;
  /* Gecko Browsers */ }

.bg-black {
  background-color: #000000 !important; }

.bg-gray {
  background-color: #e9ecef !important; }

.bg-primary {
  background-color: #88a4ac !important; }

.text-primary {
  color: #88a4ac !important; }

.scale-item {
  transition: ease-in-out 250ms;
  position: relative;
  z-index: 10; }

.vh-100 {
  height: 100vh; }

.scale-item:hover {
  transform: scale(1.02);
  z-index: 100; }

.written-copy {
  max-width: 780px;
  margin: 1rem auto; }
  .written-copy p, .written-copy h2, .written-copy ul, .written-copy li {
    margin-bottom: 3rem;
    font-size: 18px; }
  .written-copy input {
    margin: 0; }

.pinecast-player {
  position: absolute;
  bottom: 10%;
  left: 50%;
  min-width: 65%;
  transform: translate(-50%); }

#headshot {
  border-radius: 50%;
  border: 1px solid #e9ecef;
  width: 100%;
  height: 100%; }

label {
  text-align: left !important;
  margin-bottom: 0; }

input {
  border-radius: 3px;
  border: 1px solid #000000;
  margin: 0 0 0.5rem 0;
  padding: 3px 6px !important; }

input:focus {
  border: 1px solid #88a4ac; }

.ws-normal {
  white-space: normal; }

.form-post {
  padding: 0;
  margin-bottom: 0rem !important; }
  .form-post li {
    margin: 1rem 0;
    list-style: none;
    text-align: center; }
  .form-post textarea {
    width: 100%;
    border-radius: 3px;
    margin-bottom: 2rem;
    height: 100px;
    padding: 5px; }

.btn {
  white-space: normal;
  z-index: 0; }

footer {
  padding: 5rem 0; }

.at-custom-sidebar {
  z-index: 1 !important; }

@media only screen and (max-width: 768px) {
  .newsletter-header {
    font-size: 8vw; }
  .center-md {
    text-align: center !important;
    margin-bottom: 3px; } }

@media only screen and (max-width: 456px) {
  #recent-posts {
    margin: 0 auto; }
  #view-all-posts {
    margin: 20px auto 0px auto; }
  .newsletter-header {
    font-size: 16vw; } }
