@import 'variables.scss';
@import 'mixins.scss';
@import 'navbar.scss';
@import 'masthead.scss';
@import 'buttons.scss';
@import 'about.scss';
@import 'projects.scss';
@import 'subscribe.scss';
@import 'contact.scss';
@import 'card.scss';

@import url('https://fonts.googleapis.com/css?family=Lora:400,400i');
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i');

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background: $gray-100;
  min-width: 320px;
}

p {
  font-size: 18px;
}

a {
  color: $primary;
  &:focus,
  &:hover {
    text-decoration: none;
    color: darken($primary, 20%);
  }
}

.home-background{
  background-image: url('../img/beach.jpg');
  background-repeat: none;
  background-size: cover;
  background-attachment: fixed;
}

*::selection {
  background: #eae2d7; /* WebKit/Blink Browsers */
}
*::-moz-selection {
  background: #eae2d7; /* Gecko Browsers */
}

.bg-black {
  background-color: $black !important;
}

.bg-gray {
  background-color: $gray-200 !important;
}

.bg-primary {
  background-color: $primary !important;
}

.text-primary {
  color: $primary !important;
}

.scale-item {
  transition: ease-in-out 250ms;
  position: relative;
  z-index: 10;
}

.vh-100{
  height: 100vh;
}

.scale-item:hover {
  transform: scale(1.02);
  z-index: 100;
}

.written-copy {
  max-width: 780px;
  margin: 1rem auto;
  p, ul, li {
    margin-bottom: 3rem;
    font-size: 18px;
  }
  .add-question{
    text-align: center;
    margin: 0 auto;
    display: block;
    width: fit-content;
    position: relative;
    bottom: 20px;
    width: 40px;
    color: $white;
    height: 40px;
    background: $black;
    padding: 10px;
    border-radius: 50%;
    opacity: 0;
    transition: 200ms ease-in-out;
  }
  .remove-question{
    opacity: 0;
    position: relative;
    top: 5px;
    float: right;
    color: indianred;
    text-align: center;
    transition: 200ms ease-in-out;
  }
  .add-question:hover,
  .remove-question:hover{
    opacity: 1;
    cursor: pointer;
  }
  input{
    margin: 0;
  }
  h2{
    margin: 2rem 0;
  }
  table {
    td{
      padding: 0;
    }
    input, textarea{
      width: 100%;
      border: None;
    }
  }
}

.pinecast-player{
  position: absolute;
  bottom: 10%;
  left: 50%;
  min-width: 65%;
  transform: translate(-50%);
  
}

#headshot{
  border-radius: 50%;
  border: 1px solid $gray-200;
  width: 100%;
  height: 100%;
}

label{
  text-align: left !important;
  margin-bottom: 0;
}

input{
  border-radius: 3px;
  border: 1px solid $black;
  // border: 1px solid $gray-100;
  margin: 0 0 0.5rem 0;
  padding: 3px 6px !important;
}

input:focus{
  border: 1px solid $primary;
}

.ws-normal{
  white-space: normal;
}

.form-post{
  padding: 0;
  margin-bottom: 0rem !important;
  li {
    margin: 1rem 0;
    list-style: none;
    text-align: center;
  }
  textarea {
    width: 100%;
    border-radius: 3px;
    margin-bottom: 2rem;
    height: 100px;
    padding: 5px;
    margin-top: 10px;
  }
}

.btn{
  white-space: normal;
  z-index: 0;
}


footer {
  padding: 5rem 0;
}

.at-custom-sidebar{
  z-index: 1 !important;
}

@media only screen and (max-width: 768px) {
    .newsletter-header{
      font-size: 8vw;
    }
    .center-md{
      text-align: center !important;
      margin-bottom: 3px;
    }

}
@media only screen and (max-width: 456px) {
    #recent-posts{
      margin: 0 auto;
    }
    #view-all-posts{
       margin: 20px auto 0px auto;
    }
    .newsletter-header{
      font-size: 16vw;
    }
}

table, tr, th, td {
  border: 1px solid black;
  padding: 5px;
  border-radius: 3px;
}

tbody{
  background: white;
  border-radius: 3px;
}